name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: read

env:
  DAGGER_VERSION: 0.19.10

jobs:
  artifacts:
    name: Artifacts
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write
      id-token: write
      security-events: write

    steps:
      # Required as a workaround for Dagger to properly detect Git metadata
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Run pipeline
        uses: dagger/dagger-for-github@d913e70051faf3b907d4dd96ef1161083c88c644 # v8.2.0
        with:
          verb: call
          args: release --version ${{ github.ref_name }} --github-token env:GITHUB_TOKEN
          version: ${{ env.DAGGER_VERSION }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
